.profileContainer {
    align-content: center;
}

.profileRow {
    justify-content: center;

	&.personalData {
		margin-top: 6px;
		margin-bottom: 6px;
		
		&:first-child {
			margin-top: 32px;
		}
	}
	
    &.description {
        margin-top: 10%;
    }
}
