.activityWrapper {
    display: flex;
    justify-content: center;
}

.MuiTypography-root.bold--name {
	font-weight: bold;
}

.MuiChip-root.activity--chip {
	color: white;
	background-color: #707070;
}

.activityWrapper {

	&:first-of-type:first-child {
		margin-top: 5%;
	}

	&:first-child {
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}
}
