@use "../../styles/base/variables" as *;

.activity--section {
	background-color: $company-color;
	margin-top: 1rem;

	& > .row {
		justify-content: center;
		color: white;
		padding-top: 1rem;
		font-size: 1.2rem;

		&.activity-title {
			font-size: 1.75rem;
		}
	}

	.activity-information {
		&:last-of-type {
			margin-bottom: 2rem;
		}

		&:nth-child(2) {
			margin-bottom: 2rem;
		}

		&--section {
			margin-left: 2rem;
		}
	}
}

.row > .activity--button {
	width: 70%;
}

.activity-button--section.row {
	justify-content: center;
}

.activity-image--section {
	justify-content: center;
	margin-bottom: 2rem;
}